<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
    <p>{{message}}</p>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <p><label>訓練データのフォルダパス</label><input type="text" name="read_path" id="nyuryoku1"></p>
            <p><label>出力先</label><input type="text" name="save_path" id="nyuryoku2"></p>
            <p><label>何枚ごとに画質を上げるか</label><input type="text" name="res_step" id="nyuryoku3"></p>
            <p><label>何枚ごとに保存するか</label><input type="text" name="image_rate" id="nyuryoku3"></p>
        </div>
        <input type="submit" value="生成する">
    </form>
    <a href="{% url 'myprofile:index' %}">ホームへ戻る。</a>
</head>
</html>