<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <p>{{message}}</p>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <p><label>画像のパス</label><input type="text" name="input_path" id="nyuryoku1"></p>
            <p><label>出力先</label><input type="text" name="output_path" id="nyuryoku2"></p>
            <p><label>商品ラベル</label><input type="text" name="class_n" id="nyuryoku3"></p>
            <p><label>背景フォルダのパス</label><input type="text" name="back_path" id="nyuryoku4"></p>
            <p><label>テキストフォルダのパス</label><input type="text" name="txtfolder" id="nyuryoku5"></p>
        </div>
        <input type="submit" value="生成する" name="generate">
    </form>
    <a href="{% url 'myprofile:index' %}">ホームへ戻る。</a>
</head>
</html>